{% extends "admin_base.html" %}
{% block admin_content %}
<div style="display: none" class="dialog__body--set-badge">
  <div>
    <div class="row"><div class="columns">
      <h1>{{ _('Set badge') }}</h1>
    </div></div>
    <div class="row">
      <div class="medium-6 columns">
        <label>
          {{ _('Username / UID') }}
          <input name="user" type="text" class="textbox" autocomplete="off" data-autofocus>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>
          {{ _('Badge alternate with spaces') }}
          <input name="badge" type="text" class="textbox" autocomplete="off" data-autofocus>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__header">
    <h1 class="section__title">{{ _('Users') }}</h1>
  </div>
  {{ noscript_note.render() }}
  <div class="section__body no-padding domain-users">
    <table class="data-table">
      <colgroup>
        <col class="col--checkbox">
        <col class="col--uid">
        <col class="col--user">
        <col class="col--role">
      </colgroup>
      <thead>
        <tr>
          <th class="col--checkbox">
            <label class="compact checkbox">
              <input type="checkbox" name="select_all" data-checkbox-toggle="user">
            </label>
          </th>
          <th class="col--uid">{{ _('User ID') }}</th>
          <th class="col--user">{{ _('Username') }}</th>
          <th class="col--role">{{ _('Action') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for udoc in udocs %}
        <tr data-uid="{{ udoc['_id'] }}" data-badge="{%if udoc['tags'] %}{{ ' '.join(udoc['tags']) }}{% endif %}">
            <td class="col--checkbox">
              <label class="compact checkbox">
                <input type="checkbox" data-checkbox-group="user">
              </label>
            </td>
            <td class="col--uid">
              {{ udoc['_id'] }}
            </td>
            <td class="col--user">
              {{ user.render_inline(udoc) }}
            </td>
            <td class="col--role">
              <a name="set_badge">{{ _("Edit Tags") }}</a>  <a href="{{ reverse_url('admin_privilege', uid=udoc['_id']) }}">{{ _("Edit Privilege") }}</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
