{% if blessing %}
<div class="section side">
  <div class="section__body">
    {{ blessing_content|markdown }}
  </div>
</div>
{% endif %}

{% if spdocs %}
<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _('Recommended Problems') }}</h1>
  </div>
  <div class="section__body">
    <ol class="chip-list">
      {% for spdoc in spdocs %}
      <li class="chip-list__item"><a class="typo-a" href="{{ reverse_url('problem_detail', pid=spdoc['pid']) }}">P{{ spdoc['pid'] }} {{ spdoc['title'] }}</a></li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endif %}

{% if domain_id == vj4.model.builtin.DOMAIN_ID_SYSTEM %}
<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _('Tools') }}</h1>
  </div>
  <div class="section__body">
    <ul class="chip-list" style="padding: 0 0.9375rem 0 !important;">
      <li class="chip-list__item" style="display: list-item !important; list-style-type: square !important;"><a class="typo-a" href="https://github.com/Gingmzmzx/GenerateTestCase/">测试数据生成器 Gingmzmzx/GenerateTestCase</a></li>
      <li class="chip-list__item" style="display: list-item !important; list-style-type: square !important;"><a class="typo-a" href="/p/1000">AKIOI OJ 在线IDE</a></li>
      <li class="chip-list__item" style="display: list-item !important; list-style-type: square !important;"><a class="typo-a" href="https://image.xzynb.top/">LightPicture图床</a></li>
      <li class="chip-list__item" style="display: list-item !important; list-style-type: square !important;"><a class="typo-a" href="https://fs.xzynb.top/">文件中转站</a></li>
      <li class="chip-list__item" style="display: list-item !important; list-style-type: square !important;"><a class="typo-a" href="https://xzynb.top/">XzyStudio</a></li>
    </ul>
  </div>
</div>
{% endif %}
