{% set no_path_section = true %}
{% extends "layout/basic.html" %}
{% import "components/contest.html" as contest with context %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    {% if sdocs %}
    <div class="section">
      <div class="section__body typo">
        <div class="row">
          <div class="large-9 columns">
            <div id="swiper_list" style="display:none;">
              {% for sdoc in sdocs %}
              <div data-href="{{ sdoc['href'] }}" data-src="{{ sdoc['src'] }}"></div>
              {% endfor %}
            </div>
            <div id="swiper" class="swiper"></div>
          </div>
          <div class="large-3 columns">
            {% if handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) %}
              <h2>{{ _("Welcome back, ") }}</h2>{{ user.render_inline(udoc, dudoc=wdudoc) }}
              <h4>{{ _("Today's Character") }} <b style="color: {% if lucknum > 75 %}#52C41A{% elif lucknum > 25 %}#FADB14{% else %}#E74C3C{% endif %}; ">{{ lucknum }}</b></h4>
            {% else %}
              <h2 style="text-align: center;">{{ _("You are not logged in") }}</h2>
              <input type="button" name="nav_login" value="{{ _('Sign In') }}" class="expanded rounded primary button">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  <div class="section">
    <div class="section__body typo">
      {{ handler.domain['bulletin']|markdown }}
    </div>
  </div>
  {% if not tdocs %}
    <!-- no contest -->
  {% else %}
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">
          {{ _('ranking_main') }}
          <small>{{ _("Top {} users").format(users_per_page) }}</small>
        </h1>
      </div>
      <div class="section__body no-padding">
        <div data-fragment-id="ranking">
          {% if not dudocs %}
          {{ nothing.render('Sorry, there is no user in this domain.') }}
          {% else %}
          <table class="data-table">
            <colgroup>
              <col class="col--rank">
              <col class="col--user">
              <col class="col--info">
            </colgroup>
            <thead>
              <tr>
                <th class="col--rank">{{ _('Rank') }}</th>
                <th class="col--user">{{ _('User') }}</th>
                <th class="col--rp">{{ _('RP') }}</th>
                <th class="col--accept">{{ _('Accepted') }}</th>
                <th class="col--bio">{{ _('Bio') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for dudoc in dudocs %}
              <tr>
                <td class="col--rank">{{ dudoc['rank'] }}</td>
                <td class="col--user">{{ user.render_inline(rudict[dudoc['uid']], dudoc=dudoc) }}</td>
                <td class="col--rp">{{ dudoc['rp']|default(0.0)|round(2) }}</td>
                <td class="col--accept">{{ dudoc['num_accept']|default(0) }}</td>
                <td class="col--bio">{{ rudict[dudoc['uid']]['bio']|default('')|markdown }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="section page--contest_main">
      <div class="section__header">
        <h1 class="section__title">{{ _('Contest') }}</h1>
      </div>
      <ol class="section__list contest__list">
      {% for tdoc in tdocs %}
        <li class="section__list__item contest__item contest-type--{{ vj4.constant.contest.RULE_ID[tdoc['rule']] }}">
          <div class="media">
            <div class="media__left medium">
              <div class="contest__date numbox">
                <div class="numbox__num large">{{ datetime_span(tdoc['begin_at'], false, '%d') }}</div>
                <div class="numbox__text">{{ datetime_span(tdoc['begin_at'], false, '%Y-%m') }}</div>
              </div>
            </div>
            <div class="media__body medium">
              <h1 class="contest__title"><a href="{{ reverse_url('contest_detail', tid=tdoc['doc_id']) }}" data-emoji-enabled>{{ tdoc['title'] }}</a></h1>
              <ul class="supplementary list">
                <li>
                  <a href="{{ reverse_url('contest_main') }}?rule={{ tdoc['rule'] }}" class="contest-type-tag"><span class="icon icon-award"></span>{{ vj4.constant.contest.RULE_TEXTS[tdoc['rule']] }}</a>
                </li>
                <li>
                  <span class="icon icon-schedule--fill text-blue"></span> {{ contest.render_duration(tdoc) }} {{ _('hour(s)') }}
                </li>
                <li>
                  <span class="icon icon-user--multiple"></span> {{ tdoc['attend']|default(0) }}
                </li>
              {% if tsdict[tdoc['doc_id']]['attend'] == 1 %}
                <li class="contest__info-attended">
                  <span class="icon icon-check"></span> {{ _('Attended') }}
                </li>
              {% endif %}
              </ul>
            </div>
          </div>
        </li>
      {% endfor %}
      </ol>
    </div>
  {% endif %}
  {% if not htdocs %}
    <!-- no homework -->
  {% else %}
    <div class="section page--homework_main">
      <div class="section__header">
        <h1 class="section__title">{{ _('Homework') }}</h1>
      </div>
      <ol class="section__list homework__list">
        {% for tdoc in htdocs %}
          <li class="section__list__item homework__item">
            <div class="media">
              <div class="media__left medium">
                <div class="homework__date numbox">
                  <div class="numbox__num large">{{ datetime_span(tdoc['penalty_since'], false, '%d') }}</div>
                  <div class="numbox__text">{{ datetime_span(tdoc['penalty_since'], false, '%Y-%m') }}</div>
                </div>
              </div>
              <div class="media__body medium">
                <h1 class="homework__title"><a href="{{ reverse_url('homework_detail', tid=tdoc['doc_id']) }}" data-emoji-enabled>{{ tdoc['title'] }}</a></h1>
                <ul class="supplementary list">
                  <li>
                    {{ _('Status') }}: <span class="homework-status--text {{ handler.get_status(tdoc) }}">{{ _(handler.status_text(tdoc)) }}</span>
                  </li>
                  <li>
                    {{ _('Open Since') }}: {{ datetime_span(tdoc['begin_at']) }}
                  </li>
                  <li>
                  {% if handler.is_homework_extended(tdoc) or handler.is_done(tdoc) %}
                    {{ _('Hard Deadline') }}: {{ datetime_span(tdoc['end_at']) }}
                  {% else %}
                    {{ _('Deadline') }}: {{ datetime_span(tdoc['penalty_since']) }}
                  {% endif %}
                  </li>
                {% if htsdict[tdoc['doc_id']]['attend'] == 1 %}
                  <li class="homework__info-attended">
                    <span class="icon icon-check"></span> {{ _('Claimed') }}
                  </li>
                {% endif %}
                </ul>
              </div>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}
  {% if not trdocs %}
    <!-- no training -->
  {% else %}
    <div class="section page--training_main">
      <div class="section__header">
        <h1 class="section__title">{{ _('Training') }}</h1>
      </div>
      {% with tdocs=trdocs, tsdict=trsdict %}
      <ol class="section__list all primary training__list">
        {% for tdoc in tdocs %}
        <li class="section__list__item training__item">
          <div class="media">
            <div class="media__left middle">
              <div class="training__participants numbox">
                <div class="numbox__num large">{{ tdoc['enroll']|default(0) }}</div>
                <div class="numbox__text">{{ _('Enrolled') }}</div>
              </div>
            </div>
            <div class="media__body middle">
              <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid=tdoc['doc_id']) }}" data-emoji-enabled>{{ tdoc['title'] }}</a></h1>
              <div class="training__intro typo">
                <p>{{ tdoc['content'] }}</p>
              </div>
              <ul class="supplementary list training__progress">
                <li>
                  <span class="icon icon-flag text-blue"></span> {{ _('{0} sections').format(tdoc['dag']|length) }}, {{ _('{0} problems').format(training.get_pids(tdoc)|length) }}
                </li>
                <li>
                {% if tsdict[tdoc['doc_id']]['enroll'] %}
                  {% if not tsdict[tdoc['doc_id']]['done'] %}
                  <span class="icon training-status--icon progress"></span>
                  <span class="training-status--text progress">{{ _('Completed') }} {{ (100 * tsdict[tdoc['doc_id']]['done_pids']|length / training.get_pids(tdoc)|length)|round|int }}%</span>
                  {% else %}
                  <span class="icon training-status--icon done"></span>
                  <span class="training-status--text done">{{ _('Completed') }} 100%</span>
                  {% endif %}
                {% elif handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) %}
                  <span class="icon training-status--icon outside"></span> <span class="training-status--text outside">{{ _('Not Enrolled') }}</span>
                {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>
      {% endwith %}
    </div>
  {% endif %}
  {% if not ddocs %}
    <!-- no discussion -->
  {% else %}
    <div class="section page--discussion_main">
      <div class="section__header">
        <h1 class="section__title">
          {{ _('Discussion') }}
          <small>{{ _('Only show the first {} items').format(discussions_per_page) }}</small>
        </h1>
      </div>
      {% include "partials/discussion_list.html" %}
    </div>
  {% endif %}
  {% if benbenid %}{% import "components/comments.html" as comments with context %}
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Updates') }}</h1>
      </div>
      <div class="section__body">
        {{ comments.render(
          view = 'discussion',
          docs = drdocs,
          udict = udictd,
          comment_ref = 'drid',
          reply_ref = 'drrid',
          comment_post_perm = vj4.model.builtin.PERM_REPLY_DISCUSSION,
          comment_edit_perm = vj4.model.builtin.PERM_NONE if handler.own(ddoc, vj4.model.builtin.PERM_EDIT_DISCUSSION_REPLY_SELF_DISCUSSION) else vj4.model.builtin.PERM_EDIT_DISCUSSION_REPLY,
          comment_edit_self_perm = vj4.model.builtin.PERM_EDIT_DISCUSSION_REPLY_SELF,
          comment_delete_perm = vj4.model.builtin.PERM_NONE if handler.own(ddoc, vj4.model.builtin.PERM_DELETE_DISCUSSION_REPLY_SELF_DISCUSSION) else vj4.model.builtin.PERM_DELETE_DISCUSSION_REPLY,
          comment_delete_self_perm = vj4.model.builtin.PERM_DELETE_DISCUSSION_REPLY_SELF,
          reply_post_perm = vj4.model.builtin.PERM_REPLY_DISCUSSION,
          reply_edit_perm = vj4.model.builtin.PERM_NONE if handler.own(ddoc, vj4.model.builtin.PERM_EDIT_DISCUSSION_REPLY_SELF_DISCUSSION) else vj4.model.builtin.PERM_EDIT_DISCUSSION_REPLY,
          reply_edit_self_perm = vj4.model.builtin.PERM_EDIT_DISCUSSION_REPLY_SELF,
          reply_delete_perm = vj4.model.builtin.PERM_NONE if handler.own(ddoc, vj4.model.builtin.PERM_DELETE_DISCUSSION_REPLY_SELF_DISCUSSION) else vj4.model.builtin.PERM_DELETE_DISCUSSION_REPLY,
          reply_delete_self_perm = vj4.model.builtin.PERM_DELETE_DISCUSSION_REPLY_SELF,
          force_edit_priv = vj4.model.builtin.PRIV_BENBENOP,
          benbenid=benbenid
        ) }}
      {% if drcount == 0 %}
        {{ nothing.render('No comments so far...') }}
      {% endif %}
      {% if pcount > 1 %}
        <div style="text-align:center;"><a href="{{ reverse_url('discussion_detail', did=benbenid) }}" target="_blank">{{ _("View more Updates") }}</a></div>
      {% endif %}
      </div>
    </div>
  {% endif %}
  </div>
  <div class="large-3 columns">
  {% include 'domain_sidebar.html' %}
  {% if handler.has_perm(vj4.model.builtin.PERM_VIEW_DISCUSSION) %}
    {% include 'discussion_nodes_widget.html' %}
  {% endif %}
  </div>
</div>
{% endblock %}
