{% import "components/user.html" as user %}
{% extends "domain_base.html" %}
{% block domain_content %}
<div style="display: none" class="dialog__body--addSwiperImage">
  <div>
    <div class="row"><div class="columns">
      <h1>{{ _('Add Swiper Image') }}</h1>
    </div></div>
    <div class="row">
      <div class="medium-6 columns">
        <label>
          {{ _('Image URL (Unique)') }}
          <input name="src" type="text" class="textbox" autocomplete="off" data-autofocus>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>
          {{ _('The URL to jump to when clicked') }}
          <input name="href" type="text" class="textbox" autocomplete="off" data-autofocus>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="section">
    <div class="section__header">
      <h1 class="section__title">{{ _('Swiper Images') }}</h1>
      <div class="section__tools">
        <button class="primary rounded button" name="add_image">{{ _('Add Swiper Image') }}</button>
      </div>
    </div>
    {{ noscript_note.render() }}
    <div class="section__body no-padding domain-users">
    {% if not sdocs %}
    {{ nothing.render('Sorry, there is no swiper images.') }}
    {% else %}
      <table class="data-table">
        <colgroup>
          <col class="col--checkbox">
          <col class="col--src">
          <col class="col--href">
          <col class="col--action">
        </colgroup>
        <thead>
          <tr>
            <th class="col--checkbox">
              <label class="compact checkbox">
                <input type="checkbox" name="select_all" data-checkbox-toggle="user">
              </label>
            </th>
            <th class="col--src">{{ _('Image URL (Unique)') }}</th>
            <th class="col--href">{{ _('The URL to jump to when clicked') }}</th>
            <th class="col--action">{{ _('Action') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for sdoc in sdocs %}
          <tr data-src="{{ sdoc['src'] }}">
              <td class="col--checkbox">
                <label class="compact checkbox">
                  <input type="checkbox">
                </label>
              </td>
              <td class="col--src">
                {{ sdoc['src'] }}
              </td>
              <td class="col--href">
                {{ sdoc['href'] }}
              </td>
              <td class="col--action">
                <a name="delete">{{ _("Delete") }}</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
