    <div class="section side">
      <div class="section__body typo">
        <h2>{{ _('About Markdown') }}</h2>
        <p>关于Markdown，我想我不需要再介绍过多了。<br>
          我承认本OJ的Markdown转义很烂，这里有一些你可能需要的提示。</p>
          <dl>
            <dt>显示多行代码</dt>
            <dd>
<pre>Here is some text.

```python
print("Hello World!")
```</pre>
              <p>是的，<b>多行代码块（```）与前后的段落之间都要至少有一个空行，否则将会无法正常显示！</b></p>
            </dd>
            <dt>粗体、斜体等特殊字体</dt>
            <dd>
              <pre>Thisisa**bold**text.</pre>
              <p>这将不能正确显示，因为<b>特殊字体要与左右的字符之间至少有一个空格</b>。比如下面这样</p>
              <pre>This is a **bold** text.</pre>
            </dd>
            <dt>未完待续</dt>
          </dl>
      </div>
    </div>
