<div class="header{% if no_path_section %} mini{% endif %}">
  <div class="header__content"><div class="row"><div class="columns">
    {% if domain_id == vj4.model.builtin.DOMAIN_ID_SYSTEM %}
      <a class="header__logo" href="{{ reverse_url('domain_main', domain_id=vj4.model.builtin.DOMAIN_ID_SYSTEM) }}" target="_self"></a>
    {% else %}
      {% if domain['gravatar'] %}
        <div class="clearfix">
            <div class="float-left"><img class="header__logo--gravatar" src="{{ domain['gravatar'] }}" /></div>
          <div class="float-right">
            <div class="header__logo--domain"><a href="{{ reverse_url('domain_main') }}" target="_self">{{ domain['name'] }}</a></div>
            <div class="header__logo--system"><a href="{{ reverse_url('domain_main', domain_id=vj4.model.builtin.DOMAIN_ID_SYSTEM) }}" target="_blank">Powered by AKIOI OJ</a></div>
          </div>
        </div>
      {% else %}
        <div class="header__logo--domain"><a href="{{ reverse_url('domain_main') }}" target="_self">{{ domain['name'] }}</a></div>
        <div class="header__logo--system"><a href="{{ reverse_url('domain_main', domain_id=vj4.model.builtin.DOMAIN_ID_SYSTEM) }}" target="_blank">Powered by AKIOI OJ</a></div>
      {% endif %}
    {% endif %}
  </div></div></div>
  {% include "partials/path.html" %}
</div>
