<div class="dialog dialog--signin" style="display:none">
  <div class="dialog__content">
    <div class="dialog--signin__bg">
      <div class="dialog--signin__side">
        <h1>{{ _('Welcome') }}</h1>
        <p>{{ _('By logging in with your NetEssX account, you can submit code and join discussions in all online judging services provided by us.') }}</p>
      </div>
    </div>
    <div class="dialog--signin__main">
      <div class="dialog--signin__close-container supplementary">
        <a name="dialog--signin__close" href="javascript:;">{{ _('CLOSE') }}</a>
      </div>
      <h1 class="dialog--signin__title">{{ _('SIGN IN') }}</h1>
      <p class="dialog--signin__note">{{ _('Using your NetEssX account') }}</p>
      <div class="row"><div class="columns">
        <a href="{{ reverse_url('user_login') }}" class="expanded rounded primary button">
          {{ _('Login with NetEssX') }}
        </a>
      </div></div>
    </div>
  </div>
</div>
